# Ignore everything
*

# Don't ignore directories
!.github/
!src/
!docs/
!examples/

# Don't ignore specific files
!.gitignore
!Cargo.lock
!Cargo.toml
!README.md
!build.rs

# Don't ignore contents of directories
!.github/**
!src/**
!docs/**
!examples/**
